


/*************************
****Back Ground Video**
**************************/

@media screen and (max-device-width: 100px) {
  html{
    background:url(../images/bgvideo.png) #000 no-repeat center center fixed;
  }
  #bgvideo{
    display: none;
  }
}

video#bgvideo{
  position: fixed;
  top: 50%;
  left:50%;
  min-width: 100%;
  min-height: 100%;
  width:auto;
  height:auto;
  z-index: -100;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background: url(../images/bgvideo.png) no-repeat;
  background-size: cover;
  display: block;
}
/*************************
*******Typography******
**************************/

body {
  font-family: 'Dosis', sans-serif;
  font-size: 17px;
  background-color: #fff
}


.btn {
  border-radius: 0;
  font-family: 'Yanone Kaffeesatz','sans-serif';
  font-size: 20px;
  padding: 9px 23px;
}

a {
  -webkit-transition: 300ms;
  -moz-transition: 300ms;
  -o-transition: 300ms;
  transition: 300ms;
}

a:focus,
a:hover {
  text-decoration: none;
  outline: none
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Yanone Kaffeesatz', 'sans-serif';
  font-weight: 300;
  text-transform: uppercase;
}

h2 {
  font-size: 36px
}

.navbar-toggle {
  margin-top: 12px
}

.navbar-toggle .icon-bar {
  background-color: #fff;
}

.navbar-toggle,
.navbar-toggle:focus {
  border:1px solid #fff;
  outline: none;
}


/*************************
*******Header CSS******
**************************/


.header-top {
  display: block;
  overflow: hidden;
  padding: 1%;
}

.main-nav {
  position: fixed;
  width: 100%;
  z-index: 999;
}

.main-nav
.container {
  width: 100%
}

.social-icons a {
  font-size: 18px;
  color: #fff;
  padding-left:20px;
}

.social-icons .fa-facebook:hover {
  color: #3B5997
}

.social-icons .fa-twitter:hover {
  color:#29C5F6
}

.social-icons .fa-google-plus:hover {
  color:#D13D2F
}

.social-icons .fa-youtube:hover{
  color: #ec5538
}

.navbar-brand {
  background-color: transparent;
  height: 90px;
  margin-bottom: 20px;
  position: relative;
  width: 297px;
}

.navbar-brand img {
  position: absolute;
  top: -35px;
}

.navbar-right {
  background-color: transparent;
  padding:0 95px 0 0;
  opacity: .9
}

.navbar-right li a {
  padding: 35px 21px;
  font-size: 22px;
  color: white;
  text-transform: uppercase;
  font-family: 'Yanone Kaffeesatz', 'sans-serif';
  font-weight: 300;
}

.navbar-right li a:hover,
.navbar-right li a:focus,
.navbar-right .active a {
  background-color: #fff;
  color: #39eb0c
}


.fixed-menu {
  background-color: #1B7B98;
  position: fixed;
  top: 0;
}

.fixed-menu .navbar-right {
  padding: 0;
}


.fixed-menu .navbar-right li a {
  font-size: 18px;
  padding: 20px 25px;
  text-shadow:inherit;
}

.fixed-menu .navbar-brand {
  height: 60px;
  margin-top: 0;
  padding: 0;
  margin-bottom: 0;
  width: 125px;
}

.fixed-menu .navbar-brand img {
  height:60px;
  top: 0;
}

.fixed-menu .header-top {
  display: none;
}


/*************************
*******Body CSS******
**************************/

#home{
  postion:relative;
  overflow: hidden;
  padding-top: 40%;
}

#main-home {
  background: none repeat scroll 0 0 #000000;
  bottom: 14%;
  float: left;
  left: 0;
  opacity: 0.2;
  padding: 2% 9% 2%;
  right: inherit;
  text-transform: uppercase;
  color: #fff;
  text-align: left;
}


#main-home h2{
  font-size: 38px;
}

#main-home h4{
  font-size: 24px;
}

#main-home  a{
  font-size: 22px;
  color: #2da1c5;
}

#main-home  a:hover{
  color: #2588a6;
}

#main-home a:hover i{
  margin-left: 35px;
}

#main-home a i{
  margin-left: 15px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition:all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}


/*************************
*******Login CSS******
**************************/


.loginForm{
  width:30%;
  margin: 65% auto 20%;
  position: relative;
  padding-top: 16%;

//  background: linear-gradient(#eeefef, #ffffff 10%);
}

.form-login{
  margin-top: 34%;

}
.form-login-div{

  padding: 57px;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.3),0 3px 7px rgba(0, 0, 0, 0.3),inset 0 1px rgba(255,255,255,1), inset 0 -3px 2px rgba(0,0,0,0.25);
  border-radius: 5px;

}
.loginForm .loginFormUsername{
  position: relative;
}

.loginForm .loginFormUsername i{
  left: 0px;
  top: 0px;
  position: absolute;
  height: 36px;
  width: 36px;

  border-right: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 1px 0 0 rgba(255, 255, 255, 0.7);

  color: #777777;
  text-align: center;
  line-height: 42px;
  transition: all 0.3s ease-out;
  pointer-events: none;
}

.loginFormUsername input[type=text], .loginFormUsername input[type= password]{
  font-family:"Lucida Grande";
  font-size: 13px;
  font-weight: 400;
  text-shadow: 0 1px 0 rgba(255,255,255,0.8);

  width: 80%;
  padding: 10px 18px 10px 45px;

  border: none;
  background: transparent;

  box-shadow: inset 0 0 5px rgba(0,0,0,0.1), inset 0 3px 2px rgba(0,0,0,0.1);
  border-radius: 3px;
//  background: #f9f9f9;

  transition: color 0.3s ease-out;
}

.loginForm input[type=text]{
  margin-bottom: 10px;
}

.loginForm input[type=text]:hover ~ i, .loginForm input[type=password]:hover ~ i {
  color: #ebc5e3;
}

.loginForm input[type=text]:focus ~ i, .loginForm input[type=password]:focus ~ i {
  color: #42A2BC;
}
.form-1 input[type=text]:focus, .form-1 input[type=password]:focus, .form-1 button[type=submit]:focus {
  outline: none;
}

.loginForm .submit{
  width: 65px;
  height: 65px;
  position: absolute;
  top: 311px;
  right: 27px;
  padding: 10px;
  z-index: 2;

  background: linear-gradient(#0deb3e, #57bc34);
  border-radius: 50%;
  box-shadow: 0 0 2px rgba(0,0,0,0.1), 0 3px 2px rgba(0,0,0,0.1), inset 0 -3px 2px rgba(0,0,0,0.2);
}



.loginForm .submit:after {
  content: "";
  width: 10px;
  height: 10px;
  position: absolute;
  top: -2px;
  left: 30px;

// background: #ffffff;

//  box-shadow: 0 62px white, -32px 31px white;
}

.loginForm button{
  width: 100%;
  height: 100%;
  margin-top: -1px;

  font-size: 1.4em;
  line-height: 1.75;
  color: white;

  border: none;
  border-radius: inherit;
  background: linear-gradient(#0deb3e, #57bc34);
  box-shadow: inset 0 1px 0 rgba(255,255,255,0.3), 0 1px 2px rgba(0,0,0,0.35), inset 0 3px 2px rgba(255,255,255,0.2), inset 0 -3px 2px rgba(0,0,0,0.1);

  cursor: pointer;
}

.loginForm button:hover, .loginForm button[type=submit]:focus{
  background: #1feb6f;
  transition: all 0.3s ease-out;
}

.loginForm button:active{
  background: #8cbc2b;
  box-shadow: inset 0 0 5px rgba(0,0,0,0.3), inset 0 3px 4px rgba(0,0,0,0.3);
}

input::-webkit-input-placeholder {
  color: grey;
}

input:-ms-input-placeholder {
  color: white;
}

input::-moz-placeholder {
  color: white;
}

.loginGraphics{
  color:lightgreen !important;
}

.loginInput{
  color: white;
}
/*************************
*******About CSS******
**************************/

.aboutus{
  color: #fff;
  margin:10%;
  padding-top: 16%;
}

/*************************
*******Contact CSS******
**************************/
#contact{
  margin:10%;
}
.form-contact-bg{
  margin-top: 36%;
  background-color: grey;
  padding: 4%;
}

#contact-form input[type="text"],
#contact-form input[type="email"],
#contact-form input[type="tel"],
#contact-form textarea {
  width:100%;
  box-shadow:inset 0 1px 2px #DDD, 0 1px 0 #FFF;
  -webkit-box-shadow:inset 0 1px 2px #DDD, 0 1px 0 #FFF;
  -moz-box-shadow:inset 0 1px 2px #DDD, 0 1px 0 #FFF;
  border:1px solid #CCC;
  background:transparent;
  margin:0 0 5px;
  padding:10px;
  border-radius:5px;
}

#contact-form button[type="submit"] {
  cursor:pointer;
  width:100%;
  border:none;
  background: #079907;
  background-image:linear-gradient(bottom, #108c08 0%, #5f9907 52%);
  background-image:-moz-linear-gradient(bottom, #088c00 0%, #11995f 52%);
  background-image:-webkit-linear-gradient(bottom, #0d8c0f 0%, #279900 52%);
  color:#FFF;
  margin:0 0 5px;
  padding:10px;
  border-radius:5px;
}
#main-contact{
  color: #fff;
  margin: 30%;
}
::-webkit-input-placeholder {
  color:#888;
}
:-moz-placeholder {
  color:#888;
}
::-moz-placeholder {
  color:#888;
}
:-ms-input-placeholder {
  color:#888;
}
#main-contact{
  opacity: 0.5;
  padding: 4%;
}
/*************************
*******Reserve CSS******
**************************/

#reserve{
  margin-top:1%;
}

#reserve-form input[type="text"],
#reserve-form input[type="email"],
#reserve-form input[type="tel"],
#reserve-form textarea,
#reserve-form input[type="number"],
#reserve-form input[type="datetime-local"]{
  width:100%;
  box-shadow:inset 0 1px 2px #DDD, 0 1px 0 #FFF;
  -webkit-box-shadow:inset 0 1px 2px #DDD, 0 1px 0 #FFF;
  -moz-box-shadow:inset 0 1px 2px #DDD, 0 1px 0 #FFF;
  border:1px solid #CCC;
  background:transparent;
  margin:0 0 5px;
  padding:10px;
  border-radius:5px;
}

.form-reserve-bg{
  margin-top: 16%;
  background-color: grey;
  padding: 10px 25px;
}

#reserve-form button[type="submit"] {
  cursor:pointer;
  width:100%;
  border:none;
  background: #079907;
  background-image:linear-gradient(bottom, #108c08 0%, #5f9907 52%);
  background-image:-moz-linear-gradient(bottom, #088c00 0%, #11995f 52%);
  background-image:-webkit-linear-gradient(bottom, #0d8c0f 0%, #279900 52%);
  color:#FFF;
  margin:0 0 5px;
  padding:10px;
  border-radius:5px;
}
#main-reserve{
  color: #fff;
  margin: 30%;
}
::-webkit-input-placeholder {
  color:#888;
}
:-moz-placeholder {
  color:#888;
}
::-moz-placeholder {
  color:#888;
}
:-ms-input-placeholder {
  color:#888;
}
#main-reserve {

  opacity: 0.5;
  padding: 4%;
}




footer {
  width: 100%;
  height:7%;
  bottom:0;
  position : relative;
  text-align: center;
  /*background-color:#3b5998;*/
}
small.footerCopyright{
  font-family: "Lucida Grande";
  color: white;
}
